<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>expense-tracker</title>

  {{!-- link css files here --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <header>
    {{!-- navBar --}}
    <nav class="navbar navbar-dark bg-primary justify-content-between p-3">
      <div class="container">
        <div>
          <a class="fs-4 navbar-brand" href="/">
            {{#if isAuthenticated}}{{ user.name}}的{{/if}}記帳本
          </a>
          {{#if isAuthenticated}}
          <a href="/records/new" class="fs-4 badge btn btn-outline-light">記一筆$$</a>
          {{/if}}
        </div>
        <div>
          {{#if isAuthenticated}}
          <a href="/users/logout" class="fs-5 btn btn-outline-light">Logout</a>
          {{else}}
          <a href="/users/login" class="fs-5 btn btn-outline-light">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

  {{!-- partial template --}}
  <main>
    <div class="container mt-3">
      {{{ body }}}
    </div>
  </main>

  {{!-- include javascript files here --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/8dad737d39.js" crossorigin="anonymous"></script>
</body>

</html>